.header {
    height: 100px;
    background-color: aquamarine;
}

.section-left{
    height: 500px;
    background-color: bisque;
    width: 30%;
    float: left;
}

.section-right{
    height: 500px;
    background-color: skyblue;
    width: 70%;
    float: left;
}

.footer{
    height: 100px;
    background-color: yellowgreen;
    clear: both;
}