{% extends 'base.html' %}

{% block content %}
  <h1>Community</h1>
  <hr>
  {% for review in reviews %}
    <p>작성자 : <a href="{% url 'accounts:profile' review.user.username %}">{{ review.user }}</a></p>
    <p>글 번호: {{ review.pk }}</p>
    <p>글 제목: {{ review.title }}</p>
    <p>글 내용: {{ review.content }}</p>
    <div>
      <form class='like-form' data-review-id={{review.pk}}>
        {% csrf_token %}
        {% if user in review.like_users.all %}
          <button id ='like-button-{{review.pk}}'>좋아요 취소</button>
        {% else %}
          <button id ='like-button-{{review.pk}}'>좋아요</button>
        {% endif %}
      </form>
      <p>
        <span id ='like-count-{{review.pk}}'>{{ review.like_users.all|length }}</span> 명이 이 글을 좋아합니다.
      </p>
    </div>
    <a href="{% url 'community:detail' review.pk %}">[detail]</a>
    <hr>
  {% endfor %}
{% endblock %}


{% block script %}
    <script>
      const forms = document.querySelectorAll('.like-form')
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

      forms.forEach(form => {
        form.addEventListener('submit', function(event){
          event.preventDefault()
          const reviewId = event.target.dataset.reviewId
          
        axios({
          method: 'post',
          url: `http://127.0.0.1:8000/community/${reviewId}/like/`,
          headers: {'X-CSRFToken': csrftoken},
        })
          .then(response => {
          
            const liked = response.data.liked
            const likeButton = document.querySelector(`#like-button-${reviewId}`)
            const likeCount = document.querySelector(`#like-count-${reviewId}`)
            const count = response.data.count

  
            if (liked === true) {
              likeButton.innerText = '좋아요 취소'
            } else {
              likeButton.innerText = '좋아요'
            }
  
            likeCount.innerText = count
          })
      })
    })
    </script>
  
{% endblock script %}
  